.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: brown;
}
.header a {
    text-decoration: none;
    cursor: pointer;
}
.logo{
    font-size: 30px;
    color: #fff;
    }
    .favoritos{
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }